@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;

    font-family:  'Rubik', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
}

main h1 i {
    font-size: 1.5rem;
}

input {
    border-radius: 5px;
    border: solid rgb(219, 219, 219) 1px;
    height: 20px;
}

button {
    border-radius: 5px;
    border: solid rgb(219, 219, 219) 1px;
    padding: 2px;
    font-family:  'Rubik', sans-serif;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

button i {
    padding-left: 5px;
}

.imagens {
    width: 80dvw;
    height: auto;
    display: columns;
    columns: 5;
}

.imagens img {
    width: 100%;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}